<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 user-scalable=no" />
    <meta name="description" content="Sistema de información y Comunicación Regional" />
    <meta name="author" content="Casabe" />
    <meta name="keywords" content="" />
    <link rel="icon" type="image/ico" href="/favicon.ico" />

    <title>{{generalInfo.title}} | Sistema de información y Comunicación Regional</title>

    <!-- styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/assets/css/pace-theme-minimal.css" rel="stylesheet" media="screen" />
    <link href="/assets/css/lato.css" rel="stylesheet" media="screen" />
    <link href="/assets/css/bebas.css" rel="stylesheet" media="screen">
    <link href="/assets/css/bootstrap.helpers.css" rel="stylesheet" media="screen" />
    <link href="/assets/css/animate.min.css" rel="stylesheet" media="screen" />
    <link href="/assets/css/graccs.theme.css" rel="stylesheet" media="screen" />
	{{#if hashero}}
        <link href="/assets/css/graccs.hero.css" rel="stylesheet" media="screen" />
	{{/if}}
	{{#if isContactSection}}
        <link href="/assets/css/graccs.contact.css" rel="stylesheet" media="screen" />
	{{/if}}
	{{#if isNewsSection}}
        <link href="/assets/css/graccs.grid.news.css" rel="stylesheet" media="screen" />
	{{/if}}
	{{#if isIndicatorsSection}}
        <link href="/assets/css/select2.css" rel="stylesheet" media="screen" />
        <link href="/assets/css/select2-bootstrap.css" rel="stylesheet" media="screen" />
        <link href="/assets/css/css-stars.css" rel="stylesheet" media="screen" />
        <link href="/assets/css/graccs.article.common.css" rel="stylesheet" media="screen" />
        <link href="/assets/css/graccs.indicator.css" rel="stylesheet" media="screen" />
	{{/if}}
	{{#if isNewsDetailsSection}}
        <link href="/assets/css/css-stars.css" rel="stylesheet" media="screen" />
        <link href="/assets/css/graccs.article.common.css" rel="stylesheet" media="screen" />
        <link href="/assets/css/graccs.news.css" rel="stylesheet" media="screen" />
	{{/if}}
	{{#if isSearchSection}}
        <link href="/assets/css/css-stars.css" rel="stylesheet" media="screen" />
        <link href="/assets/css/graccs.article.common.css" rel="stylesheet" media="screen" />
        <link href="/assets/css/graccs.search.css" rel="stylesheet" media="screen" />
	{{/if}}
</head>
<body>
	<div id="page">
        <div class="background-fill"></div>
		{{#if hashero}}
			<section class="hero">
                <div class="container">
                    <div class="graccs-logo wow fadeInLeft">
                        <img src="/assets/img/graccs-logo.svg" width="230" height="50" alt="" />
                    <span>
						{{#if generalInfo}}
							{{{generalInfo.heroSubtitle}}}
						{{/if}}
                    </span>
                        <img class="push-action" src="/assets/img/action-button.svg" width="50" />
                    </div>
                    <div class="hero-notice">
                        <div class="content-wrapper ">
                            <div>
								{{#if generalInfo}}
									{{generalInfo.heroDescription}}
								{{/if}}
                                <nav class="hidden-xs hidden-sm">
                                    <ul class="nav links friend-links">
										{{#if links}}
											{{#each links}}
                                                <li>
                                                    <a href="{{url}}" class="symbol" target="_blank">{{label}}</a>
                                                </li>
											{{/each}}
										{{/if}}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
		{{/if}}
        <nav id="headroom" class="navbar navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-wrapper va-container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header va-middle">
                        <div class="set-inline-block nav-hamburger">
                            <button type="button" class="sidebar-toggle visible-xs-inline-block" 
									data-action="toggle" data-target="body" data-toggle="menu-visible">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="graccs-logo-header" href="/">
								<img src="/assets/img/graccs-logo.svg" width="180" height="40" alt="" />
							</a>
                        </div>
                    </div>
                    <div class="va-middle section-date-helper">
                        <h4 class="pull-left page-section">
							{{#if section}}
								{{section}}
							{{/if}}
                        </h4>
                        <span class="pull-right visible-xs">{{date Date.now format='MMM YYYY'}}</span>
                    </div>
                    <div class="navbar-menu va-middle">
                        <ul id="top-menu" class="nav navbar-nav">
                            <li>
                                <a class="{{#if isIndicatorsSection}}active{{/if}}" href="/indicadores" data-placement="bottom" title="Indicadores">
                                    <i class="si si-bar-chart"></i>
                                </a>
                            </li>
                            <li>
                                <a class="{{#if isNewsSection}}active{{/if}}" href="/noticias" data-placement="bottom" title="Noticias">
                                    <i class="si si-speech"></i>
                                </a>
                            </li>
                            <li class="hidden-xs">
                                <a class="{{#if isContactSection}}active{{/if}}" href="/contacto" data-placement="bottom" title="Contacto">
                                    <i class="si si-envelope"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container page-container">
            <!--content-->
            <!-- The content block should contain the body of your template's content-->
			{{{body}}}
            <!--content-->
        </div>
	</div>

    <footer>
        <div class="container full-height">
            <div class="row full-height">
                <div class="va-container">
                    <div class="va-middle col-md-4 col-sm-6 col-xs-12 text-center">
                        <nav>
                            <ul class="nav links friend-links">
								{{#if links}}
									{{#each links}}
                                        <li>
                                            <a href="{{url}}" class="symbol" target="_blank">{{label}}</a>
                                        </li>
									{{/each}}
								{{/if}}
                            </ul>
                        </nav>
                    </div>
                    <div class="va-middle hidden-xs hidden-sm col-md-4 text-center">
                        <div class="copyright-info">
                            <p class="text-left">Todos los derechos reservados {{date indicator.startDate format='YYYY'}} ©
                                <span class="meta-separator">|</span>
                                <a href="#">Condiciones y Políticas</a>
                            </p>
                        </div>
                    </div>
                    <div class="va-middle hidden-xs col-sm-6 col-md-3 text-center">
                        <ul class="nav links social-links">
							{{#if generalInfo}}
                                <li>
                                    <a href="{{generalInfo.facebook}}"><img src="/assets/img/icon-facebook.svg" width="28" alt=""></a>
                                </li>
                                <li>
                                    <a href="{{generalInfo.twitter}}"><img src="/assets/img/icon-twitter.svg" width="28" alt=""></a>
                                </li>
                                <li>
                                    <a href="{{generalInfo.instagram}}"><img src="/assets/img/icon-instagram.svg" width="28" alt=""></a>
                                </li>
                                <li>
                                    <a href="{{generalInfo.youtube}}"><img src="/assets/img/icon-youtube.svg" width="28" alt=""></a>
                                </li>
							{{/if}}
                        </ul>
                    </div>
                </div>
            </div>
       </div>
    </footer>

    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/pace.config.js"></script>
	<script type="text/javascript" src="/assets/js/pace.min.js"></script>
	<script type="text/javascript" src="/assets/js/wow.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.smartresize.js"></script>
	<script type="text/javascript" src="/assets/js/index.helpers.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-paginator.js"></script>
	{{#if isIndicatorsSection}}
        <script type="text/javascript" src="/assets/js/select2.full.js"></script>
        <script type="text/javascript" src="/assets/js/amcharts.js"></script>
        <script type="text/javascript" src="/assets/js/serial.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.barrating.min.js"></script>
	{{/if}}
	{{#if isNewsDetailsSection}}
        <script type="text/javascript" src="/assets/js/amcharts.js"></script>
        <script type="text/javascript" src="/assets/js/serial.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.barrating.min.js"></script>
	{{/if}}
	{{#if isSearchSection}}
        <script type="text/javascript" src="/assets/js/jquery.barrating.min.js"></script>
	{{/if}}
    <script type="text/javascript" src="/assets/js/graccs.app.js"></script>

	{{#if isIndicatorsSection}}
        <script type="text/javascript">
            $('document').ready(function() {				
                var $set_top = $('.grid-content .set-top');
                var $set_bottom = $('.grid-content .set-bottom');

                $set_top.find('p').addClass('item-meta-desc hidden-xxs');
                $set_bottom.find('p').addClass('item-meta-desc hidden-xxs');

                $('.grid-content .item-meta-info').find('span:first-child').css('text-transform', 'uppercase');
            });
        </script>
	{{/if}}
	
	{{#if isIndicatorDetailsSection}}
        <script type="text/javascript">
            $(function () {
				var $departments = $('#departments');
                var $municipalities = $('#municipalities');
                var $communities = $('#communities');

                var area = $('#area_id').text().trim();
                var areaParent = $('#area_parent_id').text().trim();

                var indicator_id = "{{indicator._id}}";
				var formula = "{{indicator.formula}}";
                var realValueLabel = "{{indicator.realValue}}";
                var useDenominator = {{indicator.useDenominator}};
				var targetValueLabel = useDenominator ? "{{indicator.targetValue}}" : "";
				var areaType = {{indicator.areaNumber}};
                var areaTypeName = areaType === 3 ? 'community' : (areaType === 2 ? 'municipal' : (areaType === 1 ? 'department' : ''));

				console.log("Formula: ", formula);
				
                $('#vote-positive-button').click(function(e) {
                    e.preventDefault();

                    var $item = $(this);
                    var id = $item.data('comment-id');

                    if (id) {
                        var req = $.ajax({
                            method: 'POST',
                            url: '/post-comment/' + id + '/vote',
                            data: {vote: 1}
                        });

                        req.done(function (res) {
                            var value = parseInt($item.find('span:first-child').text()) + 1;
                            $item.find('span:first-child').text(value);
                            $item.unbind('click');
                            console.log('Comment vote updated successfully', res);
                        });

                        req.fail(function (res) {
                            console.log('Updating comment vote has failed', res);
                        });
                    }
                });

                $('#vote-negative-button').click(function(e) {
                    e.preventDefault();

                    var $item = $(this);
                    var id = $item.data('comment-id');

                    if (id) {
                        var req = $.ajax({
                            method: 'POST',
                            url: '/post-comment/' + id + '/vote',
                            data: {vote: -1}
                        });

                        req.done(function (res) {
                            var value = parseInt($item.find('span').text()) + 1;
                            $item.find('span').text(value);
                            $item.unbind('click');
                            console.log('Comment vote updated successfully', res);
                        });

                        req.fail(function (res) {
                            console.log('Updating comment vote has failed', res);
                        });
                    }
                });

                $('#vote-indicator-positive-button').click(function(e) {
                    e.preventDefault();

                    var $item = $(this);
                    var id = $item.data('comment-id');

                    if (id) {
                        var req = $.ajax({
                            method: 'POST',
                            url: '/indicator-comment/' + id,
                            data: { vote: 1 }
                        });

                        req.done(function (res) {
                            var value = parseInt($item.find('span:first-child').text()) + 1;
                            $item.find('span:first-child').text(value);
                            $item.unbind('click');
                            console.log('Comment vote updated successfully', res);
                        });

                        req.fail(function (res) {
                            console.log('Updating comment vote has failed', res);
                        });
                    }
                });

                $('#vote-indicator-negative-button').click(function(e) {
                    e.preventDefault();

                    var $item = $(this);
                    var id = $item.data('comment-id');

                    if (id) {
                        var req = $.ajax({
                            method: 'POST',
                            url: '/indicator-comment/' + id,
                            data: { vote: -1 }
                        });

                        req.done(function (res) {
                            var value = parseInt($item.find('span').text()) + 1;
                            $item.find('span').text(value);
                            $item.unbind('click');
                            console.log('Comment vote updated successfully', res);
                        });

                        req.fail(function (res) {
                            console.log('Updating comment vote has failed', res);
                        });
                    }
                });
				
				$('.form-control.select').select2({
                    theme: "bootstrap",
                    placeholder: "-- Seleccionar --",
                    allowClear: true
                });

                $departments.change(function(e) {
                    var department = $departments.val();

                    if (department) {
                        select_department($departments.data('name'));
						
						if (areaType >= 2) {
                            $municipalities.empty();
                            $municipalities.value = '';
                            select_municipality('');
							
							$communities.empty();
							$communities.value = '';
							select_community('');
							
                            get_municipalities(department);
						}
                    }
					else {
                        $municipalities.empty();
                        select_municipality('');

                        $communities.empty();
                        select_community('');
                    }
                });
				
				$municipalities.change(function(e) {
                    var municipality = $municipalities.val();

                    if (municipality) {
                        select_municipality($municipalities.data('name'));

						if (areaType >= 3) {
                            $communities.empty();
							select_community('');
                            get_communities(municipality);	
						}
                    }
					else {
                        $communities.empty();
                        select_community('');
                    }
				});

                $communities.change(function(e) {
                    var community = $communities.val();

                    if (community) {
						select_community($communities.data('name'));
                    }
                });
				
				$('#bBuildGraph').click(function(e) {
                    $('#chartdiv').empty();

                    var department = $departments.val();
                    var municipality = $municipalities.val();
					var community = $communities.val();
					
					switch (areaType) {
						case 1:
							if (department)
								get_points(indicator_id, 'department', department);
							break;
						case 2:
							if (municipality) {
								get_points(indicator_id, 'municipality', municipality);
                            }
							else if (department) {
								get_points_by_department(indicator_id, department);	
							}
                            break;
						case 3:
							if (community) {
								get_points(indicator_id, 'community', community);
                            }
							else {
								if (municipality) {
                                    get_points_by_municipality(indicator_id, municipality);
                                }
								else if (department) {
									get_points_by_department_without_municipality(indicator_id, department);
								}
							}
                            break;
					}
				});
				
                function get_initial_data() {
                    if (indicator_id && areaTypeName != '' && area != '') {
						select_areas_value(area, areaParent);
						
                        var req = $.ajax({
                            url: '/get-initial-data',
                            data: { indicator: indicator_id, type: areaTypeName, area: area }
                        });

                        req.done(function (results) {
                            console.log('Getting initial data success', results);

                            if (results && results.points) {
								build_points(results.points);
                            }
                        });

                        req.fail(function (res) {
                            console.log('Getting initial data has failed', res);
                        });
					}
				}

                function get_municipalities(parent, municipality) {
                    if (parent) {
                        var req = $.ajax({
                            url: '/get-municipalities',
                            data: { parent: parent }
                        });

                        req.done(function (results) {
                            console.log('Getting municipalities successfully: ', results);

                            if (results && results.data) {
                                var first_time = true;
                                var selected_option = '';
                                $municipalities.empty();

                                $.each(results.data, function (key,val) {
                                    var option = '';

                                    if (municipality) {
                                        if (val._id == municipality) {
                                            selected_option = val._id;
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'" selected>'+ val.name +'</option>';

                                            $('#select2-municipalities-container').attr('title', val.name);
                                            $('#select2-municipalities-container').html(val.name);
                                        }
                                        else {
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'">'+ val.name +'</option>';
                                        }
                                    }
                                    else {
                                        if (first_time) {
                                            first_time = false;
                                            selected_option = val._id;
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'" selected>'+ val.name +'</option>';

                                            $('#select2-municipalities-container').attr('title', val.name);
                                            $('#select2-municipalities-container').html(val.name);
                                        }
                                        else {
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'">'+ val.name +'</option>';
                                        }
                                    }

                                    $municipalities.append(option);
                                });

                                if (selected_option) {
									$municipalities.value = selected_option;
									get_communities(selected_option);
                                }
                            }
                        });

                        req.fail(function (res) {
                            console.log('Getting municipalities has failed', res);
                        });
                    }
                }

                function get_municipality(municipality) {
                    if (municipality) {
                        var req = $.ajax({
                            url: '/get-municipality',
                            data: { id: municipality }
                        });

                        req.done(function (results) {
                            console.log('Getting municipality successfully: ', results);

                            if (results && results.related_municipal_areas) {
                                var first_time = true;
								var selected_option = '';
                                $municipalities.empty();

                                $.each(results.related_municipal_areas, function (key,val) {
                                    var option = '';

                                    if (municipality) {
                                        if (val._id == municipality) {
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'" selected>'+ val.name +'</option>';
											selected_option = val._id;
											
                                            $('#select2-municipalities-container').attr('title', val.name);
                                            $('#select2-municipalities-container').html(val.name);
                                        }
                                        else {
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'">'+ val.name +'</option>';
                                        }
                                    }
                                    else {
                                        if (first_time) {
                                            first_time = false;
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'" selected>'+ val.name +'</option>';
                                            selected_option = val._id;

                                            $('#select2-municipalities-container').attr('title', val.name);
                                            $('#select2-municipalities-container').html(val.name);
                                        }
                                        else {
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'">'+ val.name +'</option>';
                                        }
                                    }

                                    $municipalities.append(option);
                                });
								
								if (selected_option) {
                                	$municipalities.value = selected_option;
									get_communities(selected_option);
                            	}

                                if (results.municipal_area) {
                                    var department = $('#' + results.municipal_area.parent).html().trim();
                                    select_department(department);
                                    $('#' + results.municipal_area.parent).attr('selected', 'selected');
                                }
                            }
                        });

                        req.fail(function (res) {
                            console.log('Getting municipalities has failed', res);
                        });
                    }
                }

                function get_communities(parent, community) {
					if (parent) {
                        var req = $.ajax({
                            url: '/get-communities',
                            data: { parent: parent }
                        });

                        req.done(function (results) {
                            console.log('Getting communities successfully: ', results);

                            if (results && results.data) {
                                var first_time = true;
                                var selected_option = '';
                                $communities.empty();

                                $.each(results.data, function (key,val) {
                                    var option = '';

                                    if (community) {
                                        if (val._id == community) {
											selected_option = val._id;
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'" selected>'+ val.name +'</option>';
											select_community(val.name);
                                        }
                                        else {
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'">'+ val.name +'</option>';
                                        }
                                    }
                                    else {
                                        if (first_time) {
                                            first_time = false;
                                            selected_option = val._id;
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'" selected>'+ val.name +'</option>';
                                            select_community(val.name);
										}
                                        else {
                                            option = '<option id="'+ val._id +'" data-name="'+ val.name +'" value="'+ val._id +'">'+ val.name +'</option>';
                                        }
                                    }

                                    $communities.append(option);
                                });

                                if (selected_option) $communities.value = selected_option;
                            }
                        });

                        req.fail(function (res) {
                            console.log('Getting communities has failed', res);
                        });	
					}
				}
				
				function select_department(name) {
                    $('#select2-departments-container').attr('data-option-id', name);
                    $('#select2-departments-container').attr('title', name);
                    $('#select2-departments-container').html(name);
				}
				
				function select_municipality(name) {
                    $('#select2-municipalities-container').attr('title', name);
                    $('#select2-municipalities-container').html(name);
				}
				
				function select_community(name) {
                    $('#select2-communities-container').attr('title', name);
                    $('#select2-communities-container').html(name);
				}
				
				function select_areas_value(area_id, parent_id) {
					if (areaType === 1) {
                        var department = $('#' + area_id).html().trim();
						select_department(department);
                        $('#' + area_id).attr('selected', 'selected');
                    }
					else if (areaType === 2) {
						get_municipalities(parent_id, area_id);

                        var department = $('#' + parent_id).html().trim();
						if (department) {
							select_department(department);
                            $('#' + parent_id).attr('selected', 'selected');
						}
                    }
					else  if (areaType === 3) {
                        get_communities(parent_id, area_id);
						get_municipality(parent_id);
                    }
				}

                function get_points(indicator, type, area) {
                    if (indicator && type && area) {
                        var req = $.ajax({
                            url: '/get-points',
                            data: { area_type: type, area_id: area, indicator_id: indicator }
                        });

                        req.done(function (results) {
                            if (results && results.points) {
                                build_points(results.points);
                            }
                        });

                        req.fail(function (res) {
                            console.log('Getting points has failed', res);
                        });
                    }
                }

                function get_points_by_municipality(indicator, municipality) {
                    if (indicator && municipality) {
                        var req = $.ajax({
                            url: '/get-points-by-municipality',
                            data: { indicator_id: indicator, municipality_id: municipality }
                        });

                        req.done(function (results) {
                            if (results && results.points_array) {
                                var years = [];
                                var realValues = [];
                                var realValuesCount = [];
                                var targetValues = [];
                                var targetValuesCount = [];
                                var comparativeValues = [];
                                var comparativeValuesCount = [];
                                var points = [];
								
								$.each(results.points_array, function(key, points) {
									$.each(points, function(key_1, point) {
                                        var year = '';

                                        if (point.isMonthlyFrequency) {
                                            var month = '';

                                            switch (parseInt(point.monthlyFrequency)) {
                                                case 1:
                                                    month = 'Enero';
                                                    break;
                                                case 2:
                                                    month = 'Febrero';
                                                    break;
                                                case 3:
                                                    month = 'Marzo';
                                                    break;
                                                case 4:
                                                    month = 'Abril';
                                                    break;
                                                case 5:
                                                    month = 'Mayo';
                                                    break;
                                                case 6:
                                                    month = 'Junio';
                                                    break;
                                                case 7:
                                                    month = 'Julio';
                                                    break;
                                                case 8:
                                                    month = 'Agosto';
                                                    break;
                                                case 9:
                                                    month = 'Septiembre';
                                                    break;
                                                case 10:
                                                    month = 'Octubre';
                                                    break;
                                                case 11:
                                                    month = 'Noviembre';
                                                    break;
                                                case 12:
                                                    month = 'Diciembre';
                                                    break;
                                            }

                                            year = month + ' ' + point.startYear;
                                        }
                                        else if (point.isQuarterlyFrequency) {
                                            var quarter = '';

                                            switch (parseInt(point.quarterlyFrequency)) {
                                                case 1:
                                                    quarter = 'I Trimestre';
                                                    break;
                                                case 2:
                                                    quarter = 'II Trimestre';
                                                    break;
                                                case 3:
                                                    quarter = 'III Trimestre';
                                                    break;
                                                case 4:
                                                    quarter = 'IV Trimestre';
                                                    break;
                                            }

                                            year = quarter + ' ' + point.startYear;
                                        }
                                        else if (point.isBiannualFrequency) {
                                            var biannual = '';

                                            switch (parseInt(point.biannualFrequency)) {
                                                case 1:
                                                    biannual = 'I Semestre';
                                                    break;
                                                case 2:
                                                    biannual = 'II Semestre';
                                                    break;
                                            }

                                            year = biannual + ' ' + point.startYear;
                                        }
                                        else {
                                            year = point.startYear;
                                        }

                                        if (years.indexOf(year) === -1) years.push(year);

                                        if (!realValues[year]) {
                                            realValues[year] = point.realValue;
                                            realValuesCount[year] = 1;
                                        }
                                        else {
                                            realValues[year] += point.realValue;
                                            realValuesCount[year]++;
                                        }

                                        if (!targetValues[year]) {
                                            targetValues[year] = point.targetValue;
                                            targetValuesCount[year] = 1;
                                        }
                                        else {
                                            targetValues[year] += point.targetValue;
                                            targetValuesCount[year]++;
                                        }

                                        if (!comparativeValues[year]) {
                                            comparativeValues[year] = point.comparativeValue;
                                            comparativeValuesCount[year] = 1;
                                        }
                                        else {
                                            comparativeValues[year] += point.comparativeValue;
                                            comparativeValuesCount[year]++;
                                        }
									});
                                });
								
								$.each(years, function(key, year) {
									var point;

                                    var real_value = formula === 'sum' ? realValues[year] : (realValuesCount[year] != 0 ? realValues[year] / realValuesCount[year] : 0);
                                    var comparative_value = formula === 'sum' ? comparativeValues[year] : (comparativeValuesCount[year] != 0 ? comparativeValues[year] / comparativeValuesCount[year] : 0);
									
                                    if (useDenominator) {
                                        var target_value = formula === 'sum' ? targetValues[year] : (targetValuesCount[year] != 0 ? targetValues[year] / targetValuesCount[year] : 0);

                                        point = { "year": year, "value": real_value, "value_2": target_value, "value_3": comparative_value,
                                            "percent": targetValues[year] !== 0 ? "<br />Representa: " + Number((realValues[year] / targetValues[year]) * 100).toPrecision(4) + "%" : "" };
                                    }
                                    else {
                                        point = { "year": year, "value": real_value, "value_3": comparative_value,
                                            "percent": comparativeValues[year] !== 0 ? "<br />Representa: " + Number((realValues[year] / targetValues[year]) * 100).toPrecision(4) + "%" : ""};
                                    }

                                    points.push(point);
								});

                                if (useDenominator) {
                                    $('.indicator-value').html(Number(points[points.length - 1].value_2 - points[points.length - 1].value).toPrecision(2));
                                    drawGraph(points);
                                }
                                else {
                                    $('.indicator-value').html(Number(points[points.length - 1].value_3 - points[points.length - 1].value).toPrecision(2));
                                    drawGraphOneLine(points);
                                }
                            }
                        });

                        req.fail(function (res) {
                            console.log('Getting points by municipality has failed', res);
                        });
                    }
                }
				
				function get_points_by_department(indicator, department) {
                    if (indicator && department) {
                        var req = $.ajax({
                            url: '/get-points-by-department',
                            data: { indicator_id: indicator, department_id: department }
                        });

                        req.done(function (results) {
                            if (results && results.points_array) {
                                var years = [];
                                var realValues = [];
								var realValuesCount = [];
                                var targetValues = [];
                                var targetValuesCount = [];
                                var comparativeValues = [];
                                var comparativeValuesCount = [];
                                var points = [];

                                $.each(results.points_array, function(key, points) {
                                    $.each(points, function(key_1, point) {
                                        var year = '';

                                        if (point.isMonthlyFrequency) {
                                            var month = '';

                                            switch (parseInt(point.monthlyFrequency)) {
                                                case 1:
                                                    month = 'Enero';
                                                    break;
                                                case 2:
                                                    month = 'Febrero';
                                                    break;
                                                case 3:
                                                    month = 'Marzo';
                                                    break;
                                                case 4:
                                                    month = 'Abril';
                                                    break;
                                                case 5:
                                                    month = 'Mayo';
                                                    break;
                                                case 6:
                                                    month = 'Junio';
                                                    break;
                                                case 7:
                                                    month = 'Julio';
                                                    break;
                                                case 8:
                                                    month = 'Agosto';
                                                    break;
                                                case 9:
                                                    month = 'Septiembre';
                                                    break;
                                                case 10:
                                                    month = 'Octubre';
                                                    break;
                                                case 11:
                                                    month = 'Noviembre';
                                                    break;
                                                case 12:
                                                    month = 'Diciembre';
                                                    break;
                                            }

                                            year = month + ' ' + point.startYear;
                                        }
                                        else if (point.isQuarterlyFrequency) {
                                            var quarter = '';

                                            switch (parseInt(point.quarterlyFrequency)) {
                                                case 1:
                                                    quarter = 'I Trimestre';
                                                    break;
                                                case 2:
                                                    quarter = 'II Trimestre';
                                                    break;
                                                case 3:
                                                    quarter = 'III Trimestre';
                                                    break;
                                                case 4:
                                                    quarter = 'IV Trimestre';
                                                    break;
                                            }

                                            year = quarter + ' ' + point.startYear;
                                        }
                                        else if (point.isBiannualFrequency) {
                                            var biannual = '';

                                            switch (parseInt(point.biannualFrequency)) {
                                                case 1:
                                                    biannual = 'I Semestre';
                                                    break;
                                                case 2:
                                                    biannual = 'II Semestre';
                                                    break;
                                            }

                                            year = biannual + ' ' + point.startYear;
                                        }
                                        else {
                                            year = point.startYear;
                                        }

                                        if (years.indexOf(year) === -1) years.push(year);

                                        if (!realValues[year]) {
                                            realValues[year] = point.realValue;
											realValuesCount[year] = 1;
                                        }
                                        else {
                                            realValues[year] += point.realValue;
                                            realValuesCount[year]++;
                                        }

                                        if (!targetValues[year]) {
                                            targetValues[year] = point.targetValue;
                                            targetValuesCount[year] = 1;
                                        }
                                        else {
                                            targetValues[year] += point.targetValue;
                                            targetValuesCount[year]++;
                                        }

                                        if (!comparativeValues[year]) {
                                            comparativeValues[year] = point.comparativeValue;
                                            comparativeValuesCount[year] = 1;
                                        }
                                        else {
                                            comparativeValues[year] += point.comparativeValue;
                                            comparativeValuesCount[year]++;
                                        }
                                    });
                                });

                                $.each(years, function(key, year) {
                                    var point;
									var real_value = formula === 'sum' ? realValues[year] : (realValuesCount[year] != 0 ? realValues[year] / realValuesCount[year] : 0);
                                    var comparative_value = formula === 'sum' ? comparativeValues[year] : (comparativeValuesCount[year] != 0 ? comparativeValues[year] / comparativeValuesCount[year] : 0);
                                    
									if (useDenominator) {
                                        var target_value = formula === 'sum' ? targetValues[year] : (targetValuesCount[year] != 0 ? targetValues[year] / targetValuesCount[year] : 0);

                                        point = { "year": year, "value": real_value, "value_2": target_value, "value_3": comparative_value,
                                            "percent": targetValues[year] !== 0 ? "<br />Representa: " + Number((realValues[year] / targetValues[year]) * 100).toPrecision(4) + "%" : "" };
                                    }
                                    else {
                                        point = { "year": year, "value": real_value, "value_3": comparative_value,
                                            "percent": comparativeValues[year] !== 0 ? "<br />Representa: " + Number((realValues[year] / targetValues[year]) * 100).toPrecision(4) + "%" : ""};
                                    }

                                    points.push(point);
                                });

                                if (useDenominator) {
                                    $('.indicator-value').html(Number(points[points.length - 1].value_2 - points[points.length - 1].value).toPrecision(2));
                                    drawGraph(points);
                                }
                                else {
                                    $('.indicator-value').html(Number(points[points.length - 1].value_3 - points[points.length - 1].value).toPrecision(2));
                                    drawGraphOneLine(points);
                                }
                            }
                        });

                        req.fail(function (res) {
                            console.log('Getting points by department has failed', res);
                        });
                    }
                }
				
				function get_points_by_department_without_municipality(indicator, department) {
                    if (indicator && department) {
                        var req = $.ajax({
                            url: '/get-points-by-department-without-municipality',
                            data: { indicator_id: indicator, department_id: department }
                        });

                        req.done(function (results) {
                            console.log('Getting points by department successfully: ', results);

                            if (results && results.points_array) {
                                var years = [];
                                var realValues = [];
                                var realValuesCount = [];
                                var targetValues = [];
                                var targetValuesCount = [];
                                var comparativeValues = [];
                                var comparativeValuesCount = [];
                                var points = [];

                                $.each(results.points_array, function(key, points) {
                                    $.each(points, function(key_1, point) {
                                        var year = '';

                                        if (point.isMonthlyFrequency) {
                                            var month = '';

                                            switch (parseInt(point.monthlyFrequency)) {
                                                case 1:
                                                    month = 'Enero';
                                                    break;
                                                case 2:
                                                    month = 'Febrero';
                                                    break;
                                                case 3:
                                                    month = 'Marzo';
                                                    break;
                                                case 4:
                                                    month = 'Abril';
                                                    break;
                                                case 5:
                                                    month = 'Mayo';
                                                    break;
                                                case 6:
                                                    month = 'Junio';
                                                    break;
                                                case 7:
                                                    month = 'Julio';
                                                    break;
                                                case 8:
                                                    month = 'Agosto';
                                                    break;
                                                case 9:
                                                    month = 'Septiembre';
                                                    break;
                                                case 10:
                                                    month = 'Octubre';
                                                    break;
                                                case 11:
                                                    month = 'Noviembre';
                                                    break;
                                                case 12:
                                                    month = 'Diciembre';
                                                    break;
                                            }

                                            year = month + ' ' + point.startYear;
                                        }
                                        else if (point.isQuarterlyFrequency) {
                                            var quarter = '';

                                            switch (parseInt(point.quarterlyFrequency)) {
                                                case 1:
                                                    quarter = 'I Trimestre';
                                                    break;
                                                case 2:
                                                    quarter = 'II Trimestre';
                                                    break;
                                                case 3:
                                                    quarter = 'III Trimestre';
                                                    break;
                                                case 4:
                                                    quarter = 'IV Trimestre';
                                                    break;
                                            }

                                            year = quarter + ' ' + point.startYear;
                                        }
                                        else if (point.isBiannualFrequency) {
                                            var biannual = '';

                                            switch (parseInt(point.biannualFrequency)) {
                                                case 1:
                                                    biannual = 'I Semestre';
                                                    break;
                                                case 2:
                                                    biannual = 'II Semestre';
                                                    break;
                                            }

                                            year = biannual + ' ' + point.startYear;
                                        }
                                        else {
                                            year = point.startYear;
                                        }

                                        if (years.indexOf(year) === -1) years.push(year);

                                        if (!realValues[year]) {
                                            realValues[year] = point.realValue;
                                            realValuesCount[year] = 1;
                                        }
                                        else {
                                            realValues[year] += point.realValue;
                                            realValuesCount[year]++;
                                        }

                                        if (!targetValues[year]) {
                                            targetValues[year] = point.targetValue;
                                            targetValuesCount[year] = 1;
                                        }
                                        else {
                                            targetValues[year] += point.targetValue;
                                            targetValuesCount[year]++;
                                        }

                                        if (!comparativeValues[year]) {
                                            comparativeValues[year] = point.comparativeValue;
                                            comparativeValuesCount[year] = 1;
                                        }
                                        else {
                                            comparativeValues[year] += point.comparativeValue;
                                            comparativeValuesCount[year]++;
                                        }
                                    });
                                });

                                $.each(years, function(key, year) {
                                    var point;
                                    var real_value = formula === 'sum' ? realValues[year] : (realValuesCount[year] != 0 ? realValues[year] / realValuesCount[year] : 0);
                                    var comparative_value = formula === 'sum' ? comparativeValues[year] : (comparativeValuesCount[year] != 0 ? comparativeValues[year] / comparativeValuesCount[year] : 0);

                                    if (useDenominator) {
                                        var target_value = formula === 'sum' ? targetValues[year] : (targetValuesCount[year] != 0 ? targetValues[year] / targetValuesCount[year] : 0);

                                        point = { "year": year, "value": real_value, "value_2": target_value, "value_3": comparative_value,
                                            "percent": targetValues[year] !== 0 ? "<br />Representa: " + Number((realValues[year] / targetValues[year]) * 100).toPrecision(4) + "%" : "" };
                                    }
                                    else {
                                        point = { "year": year, "value": real_value, "value_3": comparative_value,
                                            "percent": comparativeValues[year] !== 0 ? "<br />Representa: " + Number((realValues[year] / targetValues[year]) * 100).toPrecision(4) + "%" : ""};
                                    }

                                    points.push(point);
                                });

                                if (useDenominator) {
                                    $('.indicator-value').html(Number(points[points.length - 1].value_2 - points[points.length - 1].value).toPrecision(2));
                                    drawGraph(points);
                                }
                                else {
                                    $('.indicator-value').html(Number(points[points.length - 1].value_3 - points[points.length - 1].value).toPrecision(2));
                                    drawGraphOneLine(points);
                                }
                            }
                        });

                        req.fail(function (res) {
                            console.log('Getting points by department has failed', res);
                        });
                    }
                }

                function build_points(data_points) {
                    if (data_points && data_points.length > 0) {
                        var points = [];

                        for (var i = 0; i < data_points.length; i++) {
                            var point = null;
                            var year = '';

                            if (data_points[i].isMonthlyFrequency) {
                                var month = '';

                                switch (parseInt(data_points[i].monthlyFrequency)) {
                                    case 1:
                                        month = 'Enero';
                                        break;
                                    case 2:
                                        month = 'Febrero';
                                        break;
                                    case 3:
                                        month = 'Marzo';
                                        break;
                                    case 4:
                                        month = 'Abril';
                                        break;
                                    case 5:
                                        month = 'Mayo';
                                        break;
                                    case 6:
                                        month = 'Junio';
                                        break;
                                    case 7:
                                        month = 'Julio';
                                        break;
                                    case 8:
                                        month = 'Agosto';
                                        break;
                                    case 9:
                                        month = 'Septiembre';
                                        break;
                                    case 10:
                                        month = 'Octubre';
                                        break;
                                    case 11:
                                        month = 'Noviembre';
                                        break;
                                    case 12:
                                        month = 'Diciembre';
                                        break;
                                }

                                year = month + ' ' + data_points[i].startYear;
                            }
                            else if (data_points[i].isQuarterlyFrequency) {
                                var quarter = '';

                                switch (parseInt(data_points[i].quarterlyFrequency)) {
                                    case 1:
                                        quarter = 'I Trimestre';
                                        break;
                                    case 2:
                                        quarter = 'II Trimestre';
                                        break;
                                    case 3:
                                        quarter = 'III Trimestre';
                                        break;
                                    case 4:
                                        quarter = 'IV Trimestre';
                                        break;
                                }

                                year = quarter + ' ' + data_points[i].startYear;
                            }
                            else if (data_points[i].isBiannualFrequency) {
                                var biannual = '';

                                switch (parseInt(data_points[i].biannualFrequency)) {
                                    case 1:
                                        biannual = 'I Semestre';
                                        break;
                                    case 2:
                                        biannual = 'II Semestre';
                                        break;
                                }

                                year = biannual + ' ' + data_points[i].startYear;
                            }
                            else {
                                year = data_points[i].startYear;
                            }

                            if (useDenominator) {
                                point = {
                                    "year": year,
                                    "value": data_points[i].realValue,
                                    "value_2": data_points[i].targetValue,
                                    "value_3": data_points[i].comparativeValue ? data_points[i].comparativeValue : 0,
                                    "percent": data_points[i].targetValue !== 0 ? "<br />Representa: " + Number((data_points[i].realValue / data_points[i].targetValue) * 100).toPrecision(4) + "%" : ""
                                };
                            }
                            else {
                                point = {
                                    "year": year, "value": data_points[i].realValue,
                                    "value_3": data_points[i].comparativeValue ? data_points[i].comparativeValue : 0,
                                    "percent": data_points[i].targetValue !== 0 ? "<br />Representa: " + Number((data_points[i].realValue / data_points[i].targetValue) * 100).toPrecision(4) + "%" : ""
                                };
                            }

                            points.push(point);
                        }

                        if (useDenominator) {
                            $('.indicator-value').html(Number(points[points.length - 1].value_2 - points[points.length - 1].value).toPrecision(2));
                            drawGraph(points);
                        }
                        else {
                            $('.indicator-value').html(Number(points[points.length - 1].value_3 - points[points.length - 1].value).toPrecision(2));
                            drawGraphOneLine(points);
                        }
                    }
                }
				
                function drawGraphOneLine(points) {
                    var chart;
                    var graph, graph_3;

                    // SERIAL CHART
                    chart = new AmCharts.AmSerialChart();

                    chart.dataProvider = points;
                    chart.marginLeft = 10;
                    chart.categoryField = "year";

                    // AXES
                    // category
                    var categoryAxis = chart.categoryAxis;
                    categoryAxis.dashLength = 3;
                    categoryAxis.minorGridEnabled = true;
                    categoryAxis.minorGridAlpha = 0.1;

                    // value
                    var valueAxis = new AmCharts.ValueAxis();
                    valueAxis.axisAlpha = 0;
                    valueAxis.inside = true;
                    valueAxis.dashLength = 3;
                    chart.addValueAxis(valueAxis);

                    // GRAPH
                    graph = new AmCharts.AmGraph();
                    graph.type = "column"; // this line makes the graph smoothed line.
                    graph.title = realValueLabel ? realValueLabel : "Valor real";
                    graph.valueField = "value";
                    graph.lineColor = "#FFA92E";
                    graph.lineAlpha = 1;
                    graph.fillAlphas = 1;
                    graph.dashLengthField = "dashLengthColumn";
                    graph.alphaField = "alpha";
                    graph.balloonText = "<span style='font-size:13px;'>[[title]] en [[category]]:<b>[[value]]</b> [[percent]]</span>";
                    chart.addGraph(graph);

                    graph_3 = new AmCharts.AmGraph();
                    graph_3.type = "smoothedLine"; // this line makes the graph smoothed line.
                    graph_3.title = "Valor comparativo";
                    graph_3.lineColor = "#76AF25";
                    graph_3.negativeLineColor = "#678B0D"; // this line makes the graph to change color when it drops below 0
                    graph_3.bullet = "round";
                    graph_3.bulletSize = 8;
                    graph_3.bulletBorderColor = "#FFFFFF";
                    graph_3.bulletBorderAlpha = 1;
                    graph_3.bulletBorderThickness = 2;
                    graph_3.lineThickness = 2;
                    graph_3.valueField = "value_3";
                    graph_3.balloonText = "<span style='font-size:13px;'>[[title]] en [[category]]:<b>[[value]]</b> [[additional]]</span>";
                    chart.addGraph(graph_3);
					
                    // CURSOR
                    /*  var chartCursor = new AmCharts.ChartCursor();
                        chartCursor.cursorAlpha = 0;
                        chartCursor.cursorPosition = "mouse";
                        chartCursor.categoryBalloonDateFormat = "YYYY";
                        chart.addChartCursor(chartCursor);*/

                    // SCROLLBAR
                    /*  var chartScrollbar = new AmCharts.ChartScrollbar();
                        chart.addChartScrollbar(chartScrollbar);*/

                    // LEGEND
                    var legend = new AmCharts.AmLegend();
                    legend.marginLeft = 110;
                    legend.useGraphSettings = true;
                    chart.addLegend(legend);

                    chart.creditsPosition = "bottom-right";

                    // WRITE
                    chart.write("chartdiv");
                    $('.amChartsLegend.amcharts-legend-div').css('margin-top', '18px');
                }

                function drawGraph(points) {
                    var chart;
                    var graph, graph_2, graph_3;

                    // SERIAL CHART
                    chart = new AmCharts.AmSerialChart();

                    chart.dataProvider = points;
                    chart.marginLeft = 10;
                    chart.categoryField = "year";
                    chart.startDuration = 1;

                    // AXES
                    // category
                    var categoryAxis = chart.categoryAxis;
                    categoryAxis.gridPosition = "start";

                    // value
                    var valueAxis = new AmCharts.ValueAxis();
                    valueAxis.axisAlpha = 0;
                    chart.addValueAxis(valueAxis);

                    // GRAPH
                    graph = new AmCharts.AmGraph();
                    graph.type = "column"; // this line makes the graph smoothed line.
                    graph.title = realValueLabel ? realValueLabel : "Valor real";
                    graph.valueField = "value";
                    graph.lineColor = "#FFA92E";
                    graph.lineAlpha = 1;
                    graph.fillAlphas = 1;
                    graph.dashLengthField = "dashLengthColumn";
                    graph.alphaField = "alpha";
                    graph.balloonText = "<span style='font-size:13px;'>[[title]] en [[category]]:<b>[[value]]</b> [[percent]]</span>";
                    chart.addGraph(graph);

                    // GRAPH
                    graph_2 = new AmCharts.AmGraph();
                    graph_2.type = "column"; // this line makes the graph smoothed line.
                    graph_2.title = targetValueLabel ? targetValueLabel : "Valor planificado";
                    graph_2.valueField = "value_2";
                    graph_2.lineColor = "#162A59";
                    graph_2.lineAlpha = 1;
                    graph_2.fillAlphas = 1;
                    graph_2.dashLengthField = "dashLengthColumn";
                    graph_2.alphaField = "alpha";
                    graph_2.balloonText = "<span style='font-size:13px;'>[[title]] en [[category]]:<b>[[value]]</b> [[additional]]</span>";
                    chart.addGraph(graph_2);

                    graph_3 = new AmCharts.AmGraph();
                    graph_3.type = "smoothedLine"; // this line makes the graph smoothed line.
                    graph_3.title = "Valor comparativo";
                    graph_3.lineColor = "#76AF25";
                    graph_3.negativeLineColor = "#678B0D"; // this line makes the graph to change color when it drops below 0
                    graph_3.bullet = "round";
                    graph_3.bulletSize = 8;
                    graph_3.bulletBorderColor = "#FFFFFF";
                    graph_3.bulletBorderAlpha = 1;
                    graph_3.bulletBorderThickness = 2;
                    graph_3.lineThickness = 2;
                    graph_3.valueField = "value_3";
                    graph_3.balloonText = "<span style='font-size:13px;'>[[title]] en [[category]]:<b>[[value]]</b> [[additional]]</span>";
                    chart.addGraph(graph_3);

                    // CURSOR
                    /*  var chartCursor = new AmCharts.ChartCursor();
                        chartCursor.cursorAlpha = 0;
                        chartCursor.cursorPosition = "mouse";
                        chartCursor.categoryBalloonDateFormat = "YYYY";
                        chart.addChartCursor(chartCursor);*/

                    // SCROLLBAR
                    /*  var chartScrollbar = new AmCharts.ChartScrollbar();
                        chart.addChartScrollbar(chartScrollbar);*/

                    // LEGEND
                    var legend = new AmCharts.AmLegend();
                    legend.marginLeft = 110;
                    legend.useGraphSettings = true;
                    chart.addLegend(legend);

                    chart.creditsPosition = "bottom-right";

                    // WRITE
                    chart.write("chartdiv");
					$('.amChartsLegend.amcharts-legend-div').css('margin-top', '18px');
                }
				
                get_initial_data();
            });
        </script>
	{{/if}}
	
	{{#if isNewsSection}}
        <script type="text/javascript" src="/assets/js/news.helpers.js"></script>
        <script type="text/javascript">
			$('document').ready(function() {
				var $set_top = $('.grid-news .set-top');
				
				$set_top.find('h2')
						.addClass('dotted-wrap')
                        .css('text-transform', 'uppercase');
				
				$('.grid-news .item-meta-info').find('span:first-child').css('text-transform', 'uppercase');
            });
		</script>
	{{/if}}
</body>
</html>
