<main id="page-content-wrapper">
    <div class="page-content-body">
        <div class="contact-form-wrapper">
            <div class="contact-left-wrapper" style="">
                <div class="contact-left">
                    <h4 class="text-right contact-label hidden-xs">CONTÁCTENOS</h4>
					{{#if messages}}
                        <div id="flash-messages" class="container">
							{{#if messages.info}}
                                <div class="alert alert-info">
									{{{flashMessages messages.info}}}
                                </div>
							{{/if}}
							{{#if messages.success}}
                                <div class="alert alert-success">
									{{{flashMessages messages.success}}}
                                </div>
							{{/if}}
							{{#if messages.warning}}
                                <div class="alert alert-warning">
									{{{flashMessages messages.warning}}}
                                </div>
							{{/if}}
							{{#if messages.error}}
                                <div class="alert alert-danger">
									{{{flashMessages messages.error}}}
                                </div>
							{{/if}}
                        </div>
					{{/if}}
                    <form method="post" action="/contacto" class="contact-form">
                        <div class="form-group col-lg-6 {{#if validationErrors.name}}has-error{{/if}}">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" id="name" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-6 {{#if validationErrors.territory}}has-error{{/if}}">
                            <label for="territory">Territorio</label>
                            <input name="territory" id="territory" type="text" class="form-control" required />
                        </div>
                        <div class="form-group col-lg-6 {{#if validationErrors.email}}has-error{{/if}}">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" class="form-control" required />
                        </div>

                        <div class="form-group col-lg-6 {{#if validationErrors.subject}}has-error{{/if}}">
                            <label for="subject">Asunto</label>
                            <input type="text" name="subject" id="subject" class="form-control" required  />
                        </div>
                        <div class="form-group col-lg-12 {{#if validationErrors.message}}has-error{{/if}}">
                            <label class="block" for="message">Mensaje</label>
							<textarea name="message" placeholder="Contáctenos..." rows="4" class="form-control"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
							<div class="col-lg-8" style="padding-left: 0; padding-top: 13px;">
								{{#if messageSubmitted}}
                                    <h5 style="color: #fff; ">Su mensaje ha sido enviado satisfactoriamente.</h5>
								{{/if}}
							</div>
							<div class="col-lg-4 text-right" style="padding-right: 0;">
                                <button type="submit" class="btn btn-default pull-right">Enviar Comentario</button>
							</div>
                        </div>
                    </form>
				</div>
			</div>
            <div class="contact-right-wrapper">
                <ul class="social-links-square">
					{{#if generalInfo}}
						{{#if generalInfo.facebook}}
                            <li class="text-center">
                                <a class="va-container" href="{{generalInfo.facebook}}" target="_blank">
                                    <div class="va-middle">
                                        <i class="si si-social-facebook social-icon"></i>
                                        <span class="social-text"><b>Nuestra </b>Página</span>
                                    </div>
                                </a>
                            </li>
						{{/if}}
						{{#if generalInfo.twitter}}
                            <li class="text-center">
                                <a class="va-container" href="{{generalInfo.twitter}}" target="_blank">
                                    <div class="va-middle">
                                        <i class="si si-social-twitter social-icon"></i>
                                        <span class="social-text">Sígue<b>nos</b></span>
                                    </div>
                                </a>
                            </li>
						{{/if}}
						{{#if generalInfo.instagram}}
                            <li class="text-center">
                                <a class="va-container" href="{{generalInfo.instagram}}" target="_blank">
                                    <div class="va-middle">
                                        <i class="si si-camera social-icon"></i>
                                        <span class="social-text"><b>Tus </b>Fotos</span>
                                    </div>
                                </a>
                            </li>
						{{/if}}
						{{#if generalInfo.youtube}}
                            <li class="text-center">
                                <a class="va-container" href="{{generalInfo.youtube}}" target="_blank">
                                    <div class="va-middle">
                                        <i class="si si-social-youtube social-icon"></i>
                                        <span class="social-text"><b>Nuestro </b>Canal</span>
                                    </div>
                                </a>
                            </li>
						{{/if}}
					{{/if}}
                </ul>
            </div>
        </div>
    </div>
</main>
