<main id="page-content-wrapper">
    <div class="page-content-body">
        <div class="contact-form-wrapper">
            <div class="contact-left-wrapper" style="">
                <div class="contact-left">
                    <h4 class="text-right contact-label hidden-xs">CONTÁCTENOS</h4>
					{{#if messages}}
                        <div id="flash-messages" class="container">
							{{#if messages.info}}
                                <div class="alert alert-info">
									{{{flashMessages messages.info}}}
                                </div>
							{{/if}}
							{{#if messages.success}}
                                <div class="alert alert-success">
									{{{flashMessages messages.success}}}
                                </div>
							{{/if}}
							{{#if messages.warning}}
                                <div class="alert alert-warning">
									{{{flashMessages messages.warning}}}
                                </div>
							{{/if}}
							{{#if messages.error}}
                                <div class="alert alert-danger">
									{{{flashMessages messages.error}}}
                                </div>
							{{/if}}
                        </div>
					{{/if}}
					{{#if messageSubmitted}}
                        <h4>Muchas gracias por estar en contacto.</h4>
					{{else}}
                        <form method="post" action="/contacto" class="contact-form">
                            <div class="form-group col-lg-6 {{#if validationErrors.name}}has-error{{/if}}">
                                <label for="name">Name</label>
                                <input type="text" name="name" id="name" class="form-control" value="{{formData.name}}" required />
                            </div>
                            <div class="form-group col-lg-6 {{#if validationErrors.territory}}has-error{{/if}}">
                                <label for="territory">Territorio</label>
                                <input name="territory" id="territory" type="text" class="form-control" required />
                            </div>
                            <div class="form-group col-lg-6 {{#if validationErrors.email}}has-error{{/if}}">
                                <label for="email">Email</label>
                                <input type="email" name="email" id="email" class="form-control" value="{{formData.email}}" required />
                            </div>

                            <div class="form-group col-lg-6 {{#if validationErrors.subject}}has-error{{/if}}">
                                <label for="subject">Asunto</label>
                                <input type="text" name="subject" id="subject" class="form-control" value="{{formData.subject}}" required  />
                            </div>
                            <div class="form-group col-lg-12 {{#if validationErrors.message}}has-error{{/if}}">
                                <label class="block" for="message">Mensaje</label>
                        		<textarea name="message" placeholder="Contáctenos..." rows="4"
                                          class="form-control">{{formData.message}}</textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" class="btn btn-default pull-right">Enviar Comentario</button>
                            </div>
                        </form>
					{{/if}}
                </div>
			</div>
            <div class="contact-right-wrapper">
                <ul class="social-links-square">
                    <li class="text-center">
                        <a class="va-container">
                            <div class="va-middle">
                                <i class="si si-social-facebook social-icon"></i>
                                <span class="social-text"><b>Nuestra </b>Página</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-center">
                        <a class="va-container">
                            <div class="va-middle">
                                <i class="si si-social-twitter social-icon"></i>
                                <span class="social-text">Sígue<b>nos</b></span>
                            </div>
                        </a>
                    </li>
                    <li class="text-center">
                        <a class="va-container">
                            <div class="va-middle">
                                <i class="si si-social-youtube social-icon"></i>
                                <span class="social-text"><b>Nuestro </b>Canal</span>
                            </div>
                        </a>
                    </li>
                    <li class="text-center">
                        <a class="va-container">
                            <div class="va-middle">
                                <i class="si si-camera social-icon"></i>
                                <span class="social-text"><b>Tus </b>Fotos</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
