{{#if indicators.results}}
	{{#each indicators.results}}
		{{#ifeq @index 0}}
            <li data-url="/indicador/{{slug}}" class="grid-cover grid-blue" style="background-image: url('/indicators/files/{{relatedImage.filename}}')">
                <div class="set-bottom hidden-xs">
					<span class="dotted-wrap item-meta-info">{{title}}</span>
                </div>
            </li>
            <li class="grid-content" data-color-target=".grid-blue">
                <div class="set-top">
                    <h2 class="item-meta-title">
                        <a href="/indicador/{{slug}}" title="{{title}}">
							{{#substring 60 title}}{{/substring}}
						</a>
                    </h2>
					<p>
						{{#substring 85 target}}{{/substring}}
                        <a class="read-more" href="/indicador/{{slug}}">Leer más</a>
					</p>
				</div>
                <div class="set-bottom">
                    <div class="item-meta-info">
                        <span>{{date startDate format='MMM YYYY'}} - {{date endDate format='MMM YYYY'}}</span>
                        <span class="meta-separator">|</span>
                        <i class="si si-bubble"></i>
                        <span class="meta-comments-count">
							{{#ifeq commentsCount 0}}
                                No tiene
							{{else}}
								{{commentsCount}}
							{{/ifeq}}
                        </span>
                    </div>
                </div>
            </li>
		{{/ifeq}}
		{{#ifeq @index 1}}
            <li data-url="/indicador/{{slug}}" class="grid-cover grid-orange" style="background-image: url('/indicators/files/{{relatedImage.filename}}')">
                <div class="set-bottom hidden-xs">
					<span class="dotted-wrap item-meta-info">{{title}}</span>
                </div>
            </li>
            <li class="grid-content grid-promoted" data-color-target=".grid-orange">
                <div class="set-top visible-xxs">
                    <h2 class="item-meta-title">
                        <a href="/indicador/{{slug}}">{{title}}</a>
                    </h2>
                </div>
                <div class="set-bottom">
                    <a href="/indicador/{{slug}}" class="item-meta-title hidden-xxs" title="{{title}}">
						<h2>{{#substring 75 title}}{{/substring}}</h2>
                    </a>
                    <p>
						{{#substring 85 target}}{{/substring}}
                        <a class="read-more" href="/indicador/{{slug}}">Leer más</a>
                    </p>
                    <div class="item-meta-info">
                        <span>{{date startDate format='MMM YYYY'}} - {{date endDate format='MMM YYYY'}}</span>
                        <span class="meta-separator">|</span>
                        <i class="si si-bubble"></i>
                        <span class="meta-comments-count">
							{{#ifeq commentsCount 0}}
                                No tiene
							{{else}}
								{{commentsCount}}
							{{/ifeq}}
                        </span>
                    </div>
                </div>
            </li>
		{{/ifeq}}
		{{#ifeq @index 2}}
            <li data-url="/indicador/{{slug}}" class="grid-cover grid-green" style="background-image: url('/indicators/files/{{relatedImage.filename}}')">
                <div class="set-bottom hidden-xs">
					<span class="dotted-wrap item-meta-info">{{title}}</span>
                </div>
            </li>
            <li class="grid-content" data-color-target=".grid-green">
                <div class="set-top">
                    <h2 class="item-meta-title">
                        <a href="/indicador/{{slug}}" title="{{title}}">
							{{#substring 60 title}}{{/substring}}
						</a>
                    </h2>
                    <p>
						{{#substring 85 target}}{{/substring}}
                        <a class="read-more" href="/indicador/{{slug}}">Leer más</a>
                    </p>
				</div>
                <div class="set-bottom">
                    <div class="item-meta-info">
                        <span>{{date startDate format='MMM YYYY'}} - {{date endDate format='MMM YYYY'}}</span>
                        <span class="meta-separator">|</span>
                        <i class="si si-bubble"></i>
                        <span class="meta-comments-count">
							{{#ifeq commentsCount 0}}
                                No tiene
							{{else}}
								{{commentsCount}}
							{{/ifeq}}
                        </span>
                    </div>
                </div>
            </li>
		{{/ifeq}}
	{{/each}}
{{/if}}
